html {
    background-color: #EFF7FF;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.body {
    width: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #505A5B;
    background-color: #93AACE;
    border-radius: 20px;
    padding: 7px 0;
}

.display {
    height: 120px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.screen {
    width: 380px;
    height: 85px;
    border: 2px solid #505A5B;
    border-radius: 20px;
    background-color: #DBECFD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    padding-right: 4px;
    font-size: 58px;

    color: #60686D;
}


.buttons {
    width: 380px;
    border: 2px solid #505A5B;
    border-radius: 20px;
    background-color: #DBECFD;
    padding: 10px 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 22px;
    row-gap: 5px;
    margin: 14px;
}

button {
    width: 75px;
    height: 75px;
    border-radius: 35px;
    color: #60686D;
    font-size: 18px;
}

.operator,
.special {
    background-color: aliceblue;
}

.number,
.dec {
    background-color: #CADEF6;
}

.AC,
.backspace {
    background-color: #94B0DA;
}
